{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{ head }}</h1>
        </div>
        <div class="panel-body">
            <form action="" method="POST" novalidate>
                {% if form.name.errors %}
                <div class="alert alert-danger">
                    Name:
                    <ul>
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if form.location.errors %}
                <div class="alert alert-danger">
                    Location:
                    <ul>
                        {% for error in form.locaion.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {{ form.hidden_tag() }}
                <div class="form-group input-group {{ 'has-error' if form.name.errors }}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{form.name(class="form-control", placeholder="Aquarium Name")}}
                </div>
                <div class="form-group input-group {{ 'has-error' if form.location.errors }}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{form.location(class="form-control", placeholder="Aquarium Location")}}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}