{% extends "base.html" %}

{% block content %}
{% for dashboard in dash %}
<div class="col-xs-12"><h2 class="dashboardName">{{ dashboard.name }}</h2></div>
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Last Temp</h2>
        </div>
        <div class="panel-body">
            <h3 class="text-center">{{ dashboard.temperature or 'N/A'}}</h3>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Last Water Change</h2>
        </div>
        <div class="panel-body">
            <h3 class="text-center">{{ moment(dashboard.waterchange).calendar() if dashboard.waterchange != None else 'N/A'}}</h3>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Days since feeding</h2>
        </div>
        <div class="panel-body">
            <h3 class="text-center">{{ moment(dashboard.feeding).calendar() if dashboard.feeding != None else 'N/A'}}</h3>
        </div>
    </div>
</div>
<hr />
{% endfor %}
{% endblock %}